[2018-01-31 08:48] kamyuentse opened #1 "RFC 001: UDP Style Encryption"
## Introduction

Many encryption schemes rely on an underlying communication layer that guarantees the order of sent messages. This underlying communication layer is usually TCP. Examples of such encryption schemes are SSH and TLS. Such encryption schemes fail to work over a communication layer that does not guarantee ordered arrival of messages.

Consider SSH for example: In order to avoid replay

[2018-02-10 09:48] realcr opened #2 "Adding keepalives between Channelers"
The Channeler uses Fragmentos over UDP to communicate with other Channelers. Firewalls, NATs and routers have the tendency to shut down UDP communication if it is inactive for a while. Therefore I think that we should add some keepalive message to the Channeler. I explain below how I think we should add it.

An example use case could be as follows: Consider two nodes, C and S. C is a client behind

[2018-02-10 12:43] realcr opened #3 "Proposal: RequestPath interface for the Networker"
This is a proposal for modification to the Networker's service interface (Against IndexerClient, Funder, AppManager). This modification to the Networker's interface is done in order to reflect the work it takes to set up a secure path to a remote Networker.

## Secure paths

A secure path is an abstract idea used by the users of the Networker. Any component that takes service from the Networker ma

[2018-02-10 13:11] realcr opened #5 "Uuid should be Uid"
uid.rs originally contained implementation of random generation of unique ids.
It was later renamed to uuid.rs, and the following comment was added:
`///! A rough implementation of UUID v4.`

I believe that this could cause confusion for the reader, as uuid.rs does not implement UUID v4, and does not intend to do this. I am not sure when was the uid.rs -> uuid.rs change happened, but using the log

[2018-02-10 13:38] realcr opened #6 "Use "send the sender" trick for all Database interfaces"
Change all the request/response style interfaces with the Database module to use "send the sender" trick. In other words: Add to all request messages a field response_sender: mpsc::Sender<ResponseXXX>. The Database module will then use the obtained sender to send the response.

In addition, we need to add the possibility of failure when trying to obtain something from the database. ResponseLoadFri

[2018-02-13 14:08] #5 closed, assigned to kamyuentse

[2018-02-15 16:05] #6 closed, assigned to realcr

[2018-02-15 16:06] #3 closed, assigned to nobody

[2018-03-06 09:23] realcr opened #18 "derive_symmeric_key might panic due to invalid public key"
At crypto/dh.rs, inside `derive_symmetric_key` there is the following code:

[code]

I think that we might be able to reach the unreachable code. (I wrote this code!) This might allow an attacker to acheive DoS, in case an invalid public key is provided during Diffie Hellman.
I think that a reasonable solution would be to change the function signature from:

[code]

to

[code]

And return an Error

[2018-03-06 17:19] kamyuentse opened #20 "Rethinking the error management system"
Currently, the `CSwitch` uses the basic handwritten Error type to manage the error, I admit that's the most flexible way, but it would make us spent more time to write the code here if we want to trace the source of the error, or we got a useless error.

For example, in the `crypto`, I notice we use `()` as the error in many places. But when the program runs into trouble, how to find the where is

[2018-03-08 09:18] kamyuentse opened #21 "Renaming the `Schema` to `Proto`"

[2018-03-08 10:29] kamyuentse opened #22 "Add a method for all handshake related message to extract the data we need to sign"

[2018-03-08 20:17] #21 closed, assigned to nobody

[2018-03-09 07:54] kamyuentse opened #26 "Timer CI failing."
[code]

This happened and make the CI failing in past submissions. Always occurred on the macOS.

[2018-03-09 13:10] #2 closed, assigned to kamyuentse

[2018-03-09 13:10] #22 closed, assigned to kamyuentse

[2018-03-10 08:42] kamyuentse opened #27 "Design the module level Error for crypto"
I am trying to fix the problem in `crypto`, I notice that some `unwrap` usage here, and we should use a reasonable Error instead of `unwrap`, and try to make this module `unwrap` free.

BTW, I plan to use the `define_ty`(Yep, I don't have a better name for it, `define_fixed_bytes`?) to replace the boring job here. Including `SymmetricKey, Salt, Signature, DhPublicKey, RandValue`, am I miss somethi

[2018-03-11 13:10] kamyuentse opened #29 "Safe erasure of secret data"
**NOTE: If the protocol required changes, put this proposal aside, and fix the protocol first.**

The **Encryption Algorithm** is fixed during the design of `CSwitch`, in other words, this is a part of the CSwitch's protocol, which is the starting point of this proposal.

The design of this proposal has the following goals:

* Decouple the protocol part to the details of the implementation.
* Make

[2018-03-13 15:11] realcr opened #32 "Review receiving end of token channel"
The receiving end of the token channel inside Networker/Messenger needs to be reviewed.

[2018-03-15 10:48] #18 closed, assigned to kamyuentse

[2018-03-15 12:27] realcr opened #37 "Idea: using quickcheck for strong tests at the token channel code"
Quickcheck is a rust crate: https://github.com/BurntSushi/quickcheck
It allows to test various predicates by automatically generating input, possibly in a smart way.
I am not fully sure how it works internally, but it looks very promising.

We might be able to use quickcheck to test some critical parts like the token channel state machine for the Networker and the Funder. I have no idea if this wi

[2018-03-16 10:33] #26 closed, assigned to nobody

[2018-05-02 14:50] realcr opened #45 "help: remove this `mut` warnings and compile errors"
I tried to compile the project with the latest Rust nightly, and got lots of strange warnings that look like this:

[code]

It looks like a Rust bug to me, as no mut is there.

[2018-05-02 16:17] realcr opened #46 "Clippy doesn't compile"
Might be related to:
https://github.com/rust-lang-nursery/rust-clippy/issues/2718

[2018-05-03 09:29] #45 closed, assigned to kamyuentse

[2018-05-03 10:26] #46 closed, assigned to kamyuentse

[2018-05-21 08:26] #32 closed, assigned to realcr

[2018-05-21 08:30] realcr opened #51 "Cleanup warnings"
The current building process has lots of warnings that occur due to changes in Rust.
Some examples:

[code]

[code]

and

[code]

@kamyuentse : I might take this one myself today, I can't see the compilation errors anymore because there are so many warnings (:

[2018-05-21 09:49] realcr opened #53 ""the clippy plugin is being deprecated""
I just bumped Rust and clippy's versions.
On the new setup I get this warning when running `cargo test --features=dev`:

[code]

@kamyuentse : Do you know of a non deprecated way to use clippy that still allows us to pin clippy's version?

[2018-05-21 12:17] #51 closed, assigned to nobody

[2018-05-25 19:44] #53 closed, assigned to nobody

[2018-06-07 11:50] realcr opened #60 "invalid arithmetic operator in before-script.sh"
I noticed some syntax error that happens during the travis build and test.
The source of the problem is probably before-script.sh, but I couldn't yet fix it. You might have an idea.

I couldn't make new pull requests pass the `cargo clean && cargo clippy` on linux for some reason (They did pass on Mac though). I thought that it might be related to this issue.

I include the output from the Travis

[2018-06-07 13:59] #60 closed, assigned to kamyuentse

[2018-06-09 11:07] realcr opened #64 "DummyRandom does not work with ring v0.13.0-alpha5"
In the latest update to ring v0.13.0-alpha5 we get the following compilation error:

[code]

See also issue https://github.com/briansmith/ring/issues/661

I see three options to fix this:

1. Make our own trait that wraps SecureRandom. We can call it `RandomGenerator`. All of our code will work directly with RandomGenerator. This way we will not be affected by further changes to Ring's interface.

[2018-07-17 13:53] realcr opened #72 "Upgrade to Futures 0.2"
In the future we might have to upgrade to upgrade CSwitch to use the newer Tokio Futures design. Currently CSwitch works with Futures 0.1.

I am still not sure if we want to do the upgrade only when Futures becomes stable (I heard that 1.0 might happen during 2018), or should already start doing it at Futures 0.2.

I was wondering what is the right way to do this kind of upgrade.
- Can we upgrade

[2018-07-17 14:33] realcr opened #73 "use of unstable library feature 'proc_macro'"
PR https://github.com/realcr/cswitch/pull/68 stopped compiling with a somewhat unclear compilation errors. Here is an example:

[code]

It is possible that some library has recently updated, However I am not sure which one, and what is the cause for this problem. I sent a message at issue #38356:
https://github.com/rust-lang/rust/issues/38356#issuecomment-405600922
Though I'm not fully sure it is

[2018-07-18 15:47] #1 closed, assigned to nobody

[2018-07-18 15:52] #73 closed, assigned to kamyuentse

[2018-10-17 13:59] realcr commented on #72
Solved by https://github.com/realcr/cswitch/pull/113

[2018-10-26 04:50] #72 closed

[2018-11-16 13:37] realcr opened #127 "offst-crypto: Add mandatory prefix to signatures"
Add mandatory prefix (bytes slice?) for signing and verifying signatures.
This way a signature signed for one purpose could not be used as a signature for another purpose.

[2018-12-04 17:53] #27 closed

[2019-01-01 10:30] realcr opened #143 "Use sqlite3 for persistent storage"
We are currently using serialization to json file (using `serde`) and writing to disk using the `atomicwrites` crate.

Cons of the current design:
- Very inefficient, as the whole database should be written for every mutation.
- Possible atomicity issues. sqlite3 is probably more battle tested than the `atomicwrites` crate.

Required steps:
- Designing an SQL schema.
- Refactoring Funder's mutatio

[2019-01-01 10:36] realcr opened #144 "Exponential backoffs for all connection attempts"
There are some parts in offst that attempt connections:
- Relay client
- Channeler
- Index client

Currently each of those have a very basic backoff mechanism for reconnection after a failed connection attempt. This might cause DoS on a server.

We should change the backoff mechanism to exponential backoff, and find reasonable ways to test the new exponential backoff logic. Maybe there is a way to

[2019-01-01 10:55] realcr opened #145 "Extra chosen relay resiliency"
In the current design every node can pick one relay. The node then opens a "listen" connection to the relay and waits for connections from other nodes. In a sense, in the current design the relay is like a mail server that a user chooses to receive messages through.

The current design has two major issues:
- lock-in to a specific relay.
- lack of fault tolerance for failing relays.

**lock-in**:

[2019-01-01 11:01] realcr opened #146 "Separating IndexServer logic against client into two ports"
Currently the messages between IndexServer and IndexClient are as follows:

[code]
This interface is used for two different functions:
1. Requesting routes: (RequestRoutes, ResponseRoutes).
2. Updating friends state (TimeHash, MutationsUpdate).

Those two parts are unrelated. It might be possible that some user of the server may only want to use one function out of the two. For example: a user mig

[2019-03-30 15:23] realcr opened #167 "Upgrade to latest version of the ring crate"
We currently use an old version of the ring crate, due to problems with deterministic testing. (See https://github.com/freedomlayer/offst/issues/64).
It seems like other parts of the ring API has changed, and some work might be needed to use the latest version of ring. Most of the modifications should be at the offst-crypto crate.
If no other solutions comes up, we might need to give up the determ

[2019-03-30 15:27] realcr opened #168 "Use structopt crate for command line programs"
We currently use the `clap` crate for command line parsing. `clap` uses strings to refer to arguments, which is not checked at compile time. The [structopt](https://github.com/TeXitoi/structopt) builds over `clap` and allows to define structs which automatically turn into command line arguments.

This should affect code in:
- offst-bin (All binaries)
- offst-stctrl (The stctrl binary).

[2019-03-30 15:30] realcr opened #169 "stctrl is stuck when attempting to connect to the wrong node"

[2019-04-04 09:53] realcr commented on #169
Fixed by PR https://github.com/freedomlayer/offst/pull/172

[2019-04-04 09:54] #169 closed

[2019-04-05 14:18] realcr commented on #145
Feature added in PR https://github.com/freedomlayer/offst/pull/148

[2019-04-05 14:18] #145 closed

[2019-04-12 11:07] realcr commented on #168
Done.

[2019-04-12 11:07] #168 closed

[2019-04-26 18:39] pzmarzly commented on #167
For now, I tried updating offst in:

- https://github.com/pzmarzly/offst/commits/2019-04-09-ring3 via `Deref<Target = SecureRandom>` but this is probably bad idea
- https://github.com/pzmarzly/offst/commits/2019-04-09-ring via `pub use SecureRandom as CryptoRandom`, but ran into problems with `Send`/`Sync`
- https://github.com/pzmarzly/offst/commits/2019-04-09-ring2-clean via making modified `ring

[2019-05-04 17:51] realcr opened #195 "Index servers are too optimistic (fees not accounted for)"
## Index servers

Index servers do mainly two things:
1. Collect information about the network: For every node, index servers collect his current available credit capacity with his direct friends.
2. Answer queries for routes of certain capacity.

## Problem with current implementation

The current implementation of Index servers is too optimistic, because index servers do not take into account th

[2019-05-05 05:51] amosonn commented on #195
I would happily work on this (or at least try). It seems to me that there are two main approaches, both requiring a reverse-BFS, but with quite differen APIs and capabilities:
1) Having the fees be passed to the graph when looking for a route. This can be either:
a) an int, which we then repeatedly add, moving the code from `credit_calc` over; or
b) something richer such as an iterator (of fees or

[2019-05-05 09:02] realcr commented on #195
@amosonn: Hi, thanks for helping out!

I would go with 1.i.
I'm still not sure if we ever add the fee selection features (By the way, we used to have them about 4 months ago I believe?). The real complication with allowing nodes to change their fees is at the protocol side, I wouldn't try to be too generic at the BFS code at this point.

I tried to think about 1.ii for a while, I can't understand

[2019-05-05 15:06] amosonn commented on #195
I don't want to step on any toes, if @pzmarzly already started working on this, I'll find something different :)

In general, for all of these solutions, it seems to me that a reverse-BFS or reverse-Dijkstra (we actually need something more complicated with a heap, since we want to return all routes, but it should still work) should work just as well as the forward ones. If you look at this as sea

[2019-05-05 15:16] pzmarzly commented on #195
I haven't, I'll gladly leave this issue to you

[2019-05-05 16:41] realcr opened #196 "A proposal for atomic payments"
I added a new proposal for atomic payments.
The proposed new design protects the buyer against indefinite waiting for a payment to complete.
Any criticism and ideas are very welcome, and may be posted here.

[Atomic payments proposal 05.05.2019](https://github.com/freedomlayer/offst/blob/b1534f84a5b13eb1c417c3693c8762fc99bb03a1/doc/docs/atomic_proposal.md)

EDIT (Updated cancellation rules):
[atom

[2019-05-05 17:47] spolu commented on #196
Looks good!

You should use bcrypt for the hashlock. Overall the out of bound ness of confirmation is a bit confusing I find especially as commit message could be issued by the payer?

[2019-05-05 18:28] pzmarzly commented on #196
I'm confused about `Cancel` message - at first you proposed it could be sent by [any node](https://github.com/freedomlayer/offst/blob/b1534f84a5b13eb1c417c3693c8762fc99bb03a1/doc/docs/atomic_proposal.md#-cancel-message) on the route (in case of network failure), but then there is:

I'm assuming that at no stage the credits are frozen. Otherwise, even if in the end any node would be able to cancel

[2019-05-05 22:56] amosonn commented on #195
Digging deeper, I arrived at another question: do we want these extra arguments to be passed over from the client as part of the request (updating `proto::index_server::messages::RequestRoutes`)? Or should this be implicit in the index server?

[2019-05-05 23:23] amosonn commented on #195
Yet another thought: who says the sender should be paying the fees? It's probably the easiest choice, other options have other considerations: if the receiver pays them, for instance, the sender has no interest in choosing a short path; if they split them half-half, finding a good path becomes even more complicated.

Still, I would say that supporting such other schemes might be something to futur

[2019-05-06 06:08] fiatjaf commented on #196
What if E doesn't send any message to B? What if the preimage doesn't reach B, but stops on C or D? What if B gets the preimage but not C, then B holds that and only shows it to C much later, asking for a repayment of their debt -- while C at that point have canceled his debt with D and thus is harmed by the transaction.

[2019-05-06 20:29] realcr commented on #195
I forgot something very useful: There is a full and up to date design diagram of Offst here:
https://github.com/freedomlayer/offst_docs
Take a look at the `diagrams` directory. I plan to add this to the main documentation on this repository in the future.

I assume that by extra arguments you mean the fees that will be paid to each node along the way.
My suggestion is that we take this in smaller

[2019-05-06 22:03] amosonn commented on #195
Thanks for the detailed response!

I definitely felt there were funny things going on when the receiver pays fees, but I didn't think about making up nodes. This indeed seems broken enough that we shouldn't consider it an option.

This also means that it makes less sense for the client to pass the required fees to the server; seems more likely that the server will know better what fees are needed

[2019-05-08 14:34] realcr commented on #196
Hi, I really appreciate the time you took to read the new design!
I wrote a new draft for the proposal incorporating some of the feedback:

[atomic payments proposal 08.05.2019](https://github.com/freedomlayer/offst/blob/1730f67b667925f5504b261ec3b30d836609edad/doc/docs/atomic_proposal.md)

@pzmarzly:

And rightfully so! I forgot thinking about the cases you mentioned. Thanks for the sharp eye.

I

[2019-05-08 15:28] realcr commented on #167
@pzmarzly : I think that this issue is something we can still make progress on while the new atomic payments redesign is being developed.

We had lots of trouble with Ring over the last year. The API keeps changing and it becomes less and less flexible to use. One of the main problems we get by using Ring is that we can't write deterministic tests. Currently instead of having Ring as a normal depe

[2019-05-08 17:15] pzmarzly commented on #167
As you may know, I've been trying to do get rid of Offst crypto + net modules. I was writing a crate (codename `fes`) that could offer encryption, DH and signatures. I tried to make it integrate well with [protocol] and [romio], have a hard-to-misuse API, and just require that one side (or both) have other's public key (which is also used for signatures). It still needs some work, but for now I up

[2019-05-09 00:36] fiatjaf commented on #196
By "preimage" I mean `srcPlainLock`.

Let me try to make my point clearer (as well as my understanding of the protocol, please correct me if I'm wrong):

Imagine A wants to send a payment to E on a route A-B-C-D-E.
 1. A will send a request to lock funds along the route with the `srcHashLock`.
 2. each peer will make a deal with their other peer (like B-C and C-D, for example) such that a debt wil

[2019-05-09 12:19] realcr commented on #196
@fiatjaf: Thanks for further clarifying the problem! I think I understand now.

Transactions do not have timeout. What will actually happen in the described case is that C will wait forever for a Response or Commit message from D.
It is possible that D is doing this on purpose (Which is strange, because D is giving up on money he could make), or some unrecoverable failure happened to D.

The only

[2019-05-09 13:45] fiatjaf commented on #196
Well, generally I tend to agree that the current scheme may be sufficient, but when I think about it a little the problems come back to my mind and I believe it's not workable.

Timeouts don't solve it, but also this is a bad solution, because D could just be online but not pass the `srcPlainLock` on. When C calls it: "what's up? where's the preimage?", D would reply: "I didn't get it yet!". And t

[2019-05-09 13:48] fiatjaf commented on #196
Actually I think I'm wrong. Considering my above dialogue, I think it is a solvable situation: C will then take `srcPlainLock` from B and pass it to C, C would then show it to D and everybody would have their claims in place (although if someone is cheating that would result in some friendships being broken).

Ok, nice.

Now there's the problem of timeouts. It's really not cool to have payments pe

[2019-05-09 14:03] realcr commented on #196
This is exactly what this proposal is supposed to solve. I agree with you that buying something and being not sure about what happened for a long period of time is absolutely unacceptable.

With the proposed design you should be able to buy something "atomically": The moment you hand the seller the Confirmation message you get the goods. Looking at the Confirmation message, the seller should is ab

[2019-05-09 16:20] fiatjaf commented on #196
Actually I got everything backwards. Disregard my last comment. I still think there are unsolvable problems, but I'm not in conditions of thinking about this anymore.

[2019-05-14 10:56] realcr commented on #195
@amosonn : As part of the redesign I plan to support more flexible transaction fees (According to ideas of yours and @SonOfLilit). I realize that you might have already done some work, and highly apologize for changing my mind, possibly rendering some of your work irrelevant.

If you think that the scope of this issue becomes too broad, don't worry, I can start writing a very basic prototype for t

[2019-05-14 11:01] realcr commented on #196
@fiatjaf: No worries, I really appreciate the time you took to think about this.
I should set up some TLA+ verification at some point, this will help making the thoughts about this process more rigorous, and also help verify it.

I believe that the new atomic payment protocol allows to perform multi route payments atomically pretty simply, so I added it to the specification.

[2019-05-14 11:34] SonOfLilit commented on #195
I'm beginning to think fees should be totally out of band (as in, you don't
publish your fees in this protocol, big nodes use a BGP like thing among
themselves and private users get an API from their "bank" to ask what fees
they need to pay to each node along the way, and probably an agreement
about the sum of these fees). You can just specify how much you're offering
to give to each node along th

[2019-05-14 11:35] SonOfLilit commented on #195
The reason for this is that among big players, they'd want to calculate
their counterparty risk and ask different fees from different nodes at
different times (if you have a lot of debt, your interest rises).

On Tue, May 14, 2019 at 2:33 PM Aur Saraf <sonoflilit@gmail.com> wrote:

[2019-05-14 13:23] realcr commented on #195
Hey, thanks for jumping by! The proposed design above should allow anyone to set fees in a secure way (Setting different fees for different friends), and also dynamically change those fees in-band. This is not a very difficult modification for us to do. I really want to give the abilities to do those things to everyone, not only big players. Do you see any problem that could occur by doing that?

[2019-05-16 07:56] realcr opened #201 "Unnecessary Box::pin()"
Some places in the code base use `Box::pin(...)` only to create a future that satisfies Pin requirements. One example from `components/channeler/src/connect_pool.rs`:

[code]
`Box::pin(...)` is a runtime tradeoff we make only to satisfy the compiler. Is there a way to write this code without using `Box::pin(...)`, and also without using unsafe tricks? It seems to me that we should be able to pin t

[2019-05-16 12:32] SonOfLilit commented on #195
Sorry, I totally missed the "for every edge". I take everything I said back.

To my understanding, if you're a business you have a cost of running your
business (e.g. salaries, server costs which are almost O(1), cost of
capital which is O(money transferred) and you'll set prices so that the sum
of incoming money equals the costs + some margin percentage (which will in
general be lower the more co

[2019-05-16 15:04] pzmarzly commented on #201
TL;DR `async { ... }` bad, `(...).then(...).map(...)` good

I have to admit I'm not too fond of the `Pin` API, seeing how it semi-magically autoderives `Unpin` for some futures and not for others.

At first, this reminded me of an issue I had once ([How to construct a struct with internal lifetime dependency?](https://www.reddit.com/r/learnrust/comments/aomynq/how_to_construct_a_struct_with_intern

[2019-05-16 15:45] pzmarzly commented on #201
In the worst case scenario, getting rid of `Box::pin` would require to rewrite all 97 `async {...}` blocks. It would decrease code readability for unnoticeable performance improvement. Unless some better way of getting rid of `Box::pin` is found, method from c593a9792a86c16ac5e8240e8485c5dc1a3b37e5 is not worth to pursue.

[2019-05-16 18:54] realcr commented on #201
From my understanding Unpin is not derived for generators because they have self references, therefore they can not be moved safely.

I actually want to keep the async blocks. I think that they are a major readability and ergonomics improvement (In the old futures version we didn't have those, and it was super difficult to write readable futures code). What I was wondering about is what is the way

[2019-05-16 19:26] pzmarzly commented on #201
Well, futures are now split between the compiler, std and futures-rs, so investigating it may take some effort. Before doing that, I'll try to search some more and try asking some people.

[2019-05-17 15:56] amosonn commented on #195
@realcr The changes I've started doing were mostly around, and not directly related to the implementation of the issue, so no worries there :). The entire change is probably too large for one PR, and it'd be good to split it up into several sub-tasks. The question is, whether implementing the original plan for this issue is a good first step.

My current plan for implementation was to strip down t

[2019-05-17 16:27] realcr commented on #195
I forgot to tell you, I bumped rust nightly version in use. Make sure to rebase everything and update your local rust nightly version. You can always find the current version at .travis.yml.

I agree. What I had in mind is (roughly) the following communication between the node and index server:
1. Node asks for a multi-route to send `x` credits to some other node.
2. Index server returns a few che

[2019-05-18 14:40] amosonn commented on #195
It doesn't necessarily need to return all the `(m, a)` pairs for the route, it can return just the equivalent one for the route (composition of affine functions is affine). This is also the information the client needs if it wants to solve the multi-route problem locally. But I agree that we can let the server can solve it for now.

Regarding algorithms: I think you need to run a strange Dijkstra,

[2019-05-18 17:15] realcr commented on #195
You are right! What a helpful fact this is (:

I trust you that you are doing the correct thing here. Changing into the new atomic payments design takes all my time right now. I should look up Pareto front later and recall how it works. In any case, you should know that even having a much less than computationally optimal solution will be great. Everything above it is extra.

If you are referring

[2019-05-18 17:27] realcr commented on #195
@SonOfLilit :

Hopefully we have got this covered with the new proposal for affine fees: `m*x + n` fees for a transaction of size `x` credits, where `0 <= m < 1` and `n` are fully configurable for every directed edge.

With the proposed design the buying experience for an end user should be as follows:
- You pick an item you want to buy.
- You click on buying and then a cheapest route is chosen fo

[2019-05-18 21:37] SonOfLilit commented on #195
Since most end-users are going to have a "bank" node always be their first
node, I think we should allow that bank node to offer the user static fees
and take up the difference.

On Sat, May 18, 2019, 8:27 PM real <notifications@github.com> wrote:

[2019-05-28 10:24] amosonn commented on #195
I'm sorry, apart from thinking more about the design, I haven't had time to make much progress on this, and the next two weeks I'll be away. I'll be happy to continue after that, but if this is deemed too long, and someone else wants to pick this up in the meantime, that's fair.

[2019-05-29 19:31] pzmarzly commented on #201
Okay, here's another theory of mine.

In [this presentation](https://www.youtube.com/watch?v=skos4B5x7qE) (from ~14:20 to ~16:00), WithoutBoats stated the goal is to have "one heap allocation per future".

After seeing [this commit](https://github.com/nearprotocol/nearcore/pull/976/files#diff-5aae9dc5316d68d492a5a37b85981b8fL121), I wouldn't be surprised if it turned out every `async fn` makes a `

[2019-05-30 18:57] realcr commented on #201
@pzmarzly: Thanks for the work you did to figure this issue out.

I could be wrong, but let me try to write what I understand about those topics.
First, about the "one heap allocation per future", what I think withoutboats means is that there is only one allocation for every future, and it happens the moment you put it into an executor (For example, using spawn).

This means that you only allocate

[2019-05-30 19:06] realcr commented on #195
@amosonn : No worries, have fun on the two weeks!
Even if I type twice as fast I think that I won't be able to finish the atomic payments iteration so soon.

The new protocol supports payments using multi routes with `mx + n` style fees. Finding a good multi route is now a non trivial problem, so you can have some fun later (:
I included a super naive implementation of the index server just to mak

[2019-05-31 20:32] pzmarzly commented on #201
`pin_mut` [code](https://docs.rs/pin-utils/0.1.0-alpha.4/src/pin_utils/stack_pin.rs.html#12-23) looks so simple that I'd be surprised if that's the answer. Though, that would be a pleasant surprise.

I tried it on [`pzmarzly/unsafe-pin`](https://github.com/pzmarzly/offst/commits/unsafe-pin), it compiles, but I haven't tested whether it panics when connecting to relay/index. Could you check that?

[2019-06-01 09:26] realcr commented on #201
Cool!

I have to agree, it feels too good to be true. What I fear is that we are doing something unsound here, but we can not see it or experience it in our tests.

If you are working from master, running `cargo test` should run all the integration tests, which also checks connection to relay/index. If the tests pass, it means that it probably doesn't crash. (Unfortunately, we can't be sure that i

[2019-06-01 14:03] amosonn commented on #201
There's a similar (but slightly different-looking) version of this in the
RFC itself; maybe it's better to use that to be safe:

https://github.com/rust-lang/rfcs/blob/master/text/2349-pin.md#stack-pinning-api-potential-future-extension

On Sat, Jun 1, 2019, 12:26 real <notifications@github.com> wrote:

[2019-06-01 15:17] pzmarzly commented on #201
If we go this way, I'd prefer to use `pin_mut` macro over RFC example implementation. I find it more elegant and error-prone:

[code]

vs

[code]

We could just copy that macro, though MIT license would require us to attribute its author.

BTW in `pzmarzly/unsafe-pin` I was modifying `master`, so this solution seems to be okay.

[2019-06-01 16:33] amosonn commented on #201
It seems there might be some issue with the drop guarantees:
https://doc.rust-lang.org/std/pin/index.html#drop-guarantee
which make the RFC version unsound. The problem is, that if you just pin
something and then "go on", nobody guarantees it'll be dropped (and not
forgotten), and once you return from the function the memory (on stack) is
reused. I'm not sure whether the macro version is sound.

A

[2019-06-02 17:57] realcr opened #206 "CI problems"
There seems to be some problem with the CI process.
I think that things leak between different branches. Some observations:
- It seems like the badge for master reports an error that actually originates from PR https://github.com/freedomlayer/offst/pull/205, which was not yet merged.
- I think that I noticed test coverage results from some PR leak to the master badge before I merged that PR into m

[2019-06-03 20:41] pzmarzly commented on #206
To my understanding. badge for master reports that CI broke because of kcov issue. However, while image has `?branch=master`, it links to Travis "Current" tab, which shows the most recent build, not necessarily on master. This is weird design choice on Travis side, so I'm thinking about changing:

[code]

[![Build Status](https://travis-ci.com/freedomlayer/offst.svg?branch=master)](https://travis-

[2019-06-09 15:06] realcr opened #208 "RequestSendFundsOp should only contain next nodes on route"
## Summary

Currently `RequestSendFundsOp` always contains the full route from the buyer to the seller. To (somewhat) protect the buyer's privacy, we propose to remove the nodes from the beginning of the route. Those nodes are not required for the correct operation of the protocol, and they expose the identity of the buyer.

Example: Consider the following network layout:

[code]
Currently, a `Req

[2019-06-09 15:09] realcr commented on #208
@pzmarzly : Do you want to work on this one?

[2019-06-09 15:21] #206 closed

[2019-06-09 15:52] realcr opened #209 "Having rust nightly version pinned in a single place"
We currently have the pinned rust nightly version in use scattered in a few places.
(1) The file: `rust-toolchain` (See here: https://github.com/rust-lang/rustup.rs#the-toolchain-file)
(2) .travis.yml contains the used nightly version in three places (See snippet below).

This means that every time we bump rust nightly's version we have to modify all those places at the same time. Is it somehow po

[2019-06-09 16:20] realcr opened #210 "offst-crypto: Rename crypto_rand.rs to rand.rs"
`crypto_rand.rs` is an unfortunate choice of name for the random utils module inside `offst-crypto` crate.

For example, this is what current imports look like:
[code]

A better name for this module might be just `rand`, which should result in imports of this form:

[code]

The crypto crate is used in most of offst crates. I suggest to begin with modifying the lowest crates first: `offst-common` a

[2019-06-09 18:23] Atul9 commented on #210
@realcr I would like to take this up.

[2019-06-09 18:33] realcr commented on #210
@Atul9 : Great! Welcome to the Offst project, and thank you for your help.
If you need any help with this issue don't hesitate to send a message.

[2019-06-09 20:14] Atul9 commented on #210
@realcr I have opened up a PR https://github.com/freedomlayer/offst/pull/212, please review.

[2019-06-09 21:48] pzmarzly opened #213 "kcov tweaking"
After #207, I tried tweaking kcov settings further on, to understand how they work. I was running kcov on my local machine, using `perf stat ./kcov-script.sh`.

`--{include,exclude}-{path,pattern}=` options are used for filtering source files. Per kcov man page, they take comma-separated list of patterns. When no such options are present, all files are used (that includes dependencies downloaded i

[2019-06-09 21:53] pzmarzly commented on #213
<details>
  <summary>Here is some raw perf data, though I stopped writing these down after a while </summary>

    exclude-path=/usr/lib, include-pattern=components:

       502 722 540 131      cycles:u                  #    2,628 GHz
       938 866 219 880      instructions:u            #    1,87  insn per cycle
       196 347 602 771      branches:u                # 1026,580 M/sec
           94

[2019-06-09 22:22] pzmarzly commented on #209
Looking at [Travis `rust.rb`](https://github.com/travis-ci/travis-build/blob/e60caafb45f5a5d585fa81f30411dabce1dcf684/lib/travis/build/script/rust.rb), it appears it's  using `rust:` value just for `TRAVIS_RUST_VERSION` and for `rustup-init.sh` `--default-toolchain` parameter.

When `rustup-init.sh` is called with `--default-toolchain=none`, it doesn't install any toolchains, but it does create `c

[2019-06-09 22:33] pzmarzly commented on #208
Ok

[2019-06-10 18:10] #210 closed

[2019-06-11 16:21] realcr opened #218 "Implementing Index Server multi route searching"
## Summary

When paying using an Offst node, a route to the destination node is required. Offst nodes obtain routes by sending a request to an index server. Currently the algorithm used at the index server is very naive, and might fail in some cases. We want to improve this algorithm.

Note:  This issue continues issue https://github.com/freedomlayer/offst/issues/195.

## Multi routes

A multi rou

[2019-06-11 16:22] realcr commented on #195
Closed in favor of issue https://github.com/freedomlayer/offst/issues/218.

[2019-06-11 16:22] #195 closed

[2019-06-15 16:50] pzmarzly opened #220 "Stale code"
After stumbling upon unlinked file during development in #215 , I created a [script](https://github.com/pzmarzly/stale-rs) to find other unlinked files. Here are the results for current master:

[code]

`freeze_guard_legacy.rs` will be removed once #215 is merged. Please decide what to do with other files. I think it would be nice to have similar analysis for unused functions, but existing utiliti

[2019-06-15 17:43] realcr commented on #220
@pzmarzly : Thanks for putting this analysis. I just looked at `stale-rs`, pretty cool idea! I have never heard of `warnalyzer`. Do you have any idea why won't it work for Offst? Maybe we can file it as an issue there?

About the stale files you mentioned, you can remove everything besides stverify.rs, which is an actual binary. I wonder why it was detected as unused, but stctrl.rs wasn't.

EDIT:

[2019-06-15 17:47] pzmarzly commented on #220
`warnalyzer` does not support projects with multiple targets (binaries) or tests. I saw it announcement about a week ago on Reddit, it's a new project, so it needs time.

[2019-06-15 18:10] pzmarzly commented on #220
I pushed into #215 , as some changes were already done there (`freeze_guard_legacy.rs`).

[2019-06-15 18:36] #208 closed

[2019-06-15 18:36] #220 closed

[2019-06-16 17:03] #209 closed

[2019-06-19 08:27] realcr opened #222 "Automatic conversion from capnp to Rust"
We currently manually convert between Capnp structures and Rust structures in `offst-proto`.
This part of the code is very long, repetitive and error prone. Example from `app_server/serialize.rs`:

[code]

This is something that can probably be solved using Rust procedural macros. I wasn't sure this is a viable solution until I have seen Libra's solution:
https://github.com/libra/libra/tree/master

[2019-06-27 15:33] pzmarzly commented on #201
The Async Book has [chapter on pinning](https://rust-lang.github.io/async-book/04_pinning/01_chapter.html), which gives `pin_mut!` a green light. But I guess I should finally ask someone more experienced about it (and even then, check if putting stack pinning everywhere wouldn't overflow the stack due to offst complexity)

[2019-06-27 18:05] realcr commented on #201
For some reason I didn't notice that conversation in this topic, I have no idea why. Sorry about that!

I am also aware of some unsoundness issues with the stack pinning. I'm not yet sure what is the right direction here. I think we should leave this open and keep using `Box::pin(...)` for the time being, until we know for sure what is the correct and sound direction for stack pinning.

[2019-07-04 17:30] bltavares opened #228 "Multi currencies proposal (orig: Exchange rates example)"
Hi there, I really like the idea of distributed ledger without proof of work. Really cool project.

I don't have much of a financial background, and I would like to better understand a scenario that would be common to me and a couple of my friends, if I was to present them the idea of the project.

If we setup a ledger between us, Alice, Bob and Charli, we would start with a 0 balance as documente

[2019-07-08 20:28] realcr commented on #228
Hi @bltavares, thanks for your interest in the Offst project, and for sending this question!
I thought about this question for a while myself. Like you, I don't have financial background, but let me share some of the ideas that led me to my current conclusions.

The short answer is that **Offst currently does not support multiple currencies**. It supports only a single type of credit.

## Rephrasi

[2019-07-08 22:02] amosonn commented on #228
I would like to add, that creating interactions in two different currencies, would require more than two wallets: it would require two parallel networks.

The main idea of Offst, as I understand it, is that it lets you transfer funds between people who don't know each other, not just to keep a ledger between people who do. For this end, you can transfer credits in various routes, which are compute

[2019-07-09 12:27] SonOfLilit commented on #228
Indeed, I think there are two main approaches:

Either you consider Offst tokens to record debt denominated in an existing currency (e.g. USD, or even BTC), and then the milk bottle problem has been more or less solved for the last few centuries at least, or you consider Offst tokens to record debt denominated in a new currency (lets call it FST) that could change in value relative to e.g. USD or

[2019-07-09 12:29] SonOfLilit commented on #228
(To be clear, the centuries old solution is to go to the supermarket and see how much a milk carton costs in the local currency, and then go to a currency trader and see how much the local currency costs in a popular currency like gold or USD, and multiply)

[2019-07-09 12:31] SonOfLilit commented on #228
And @realcr, I strongly advise you not to start the first Offst based bank node (any node that agrees to trade strangers their Offst for real dollars is a bank node) if you know nothing about banking. Let other people with more relevant skills take that risk. As long as you use it only within one group of friends, you don't need bank nodes for it to be useful.

[2019-07-10 00:26] amosonn commented on #228
I agree with everything that @SonOfLilit said - except for "this world we imagine with bank-like nodes". Having bank-like nodes is not only not required for Offst to function, it's also deterimental to its distributed nature. With enough users and "six degrees of separation", you should be able to transfer credits just fine without bank nodes as a back-bone. As a corollary, for converting fiat to

[2019-07-11 08:34] realcr commented on #228
@amosonn and @SonOfLilit : I'm glad that I asked (:
These are the important points I get from the conversation:

1. What value does one Offst credit claims to represent? Some options:
    1.a No specific value
    1.b Claim that it is one US dollar or another currency.
    1.c Have multiple types of Offst credits with different values?

2. How decentralized is the network, having a gradient of opt

[2019-07-12 01:16] GorbulasDev commented on #228
How are the credits actually created? Are they mined or staked, like other cryptocurrencies are? Is there a cap per say? There is no 'one ledger', correct? We can all live in our own worlds, per say?

[2019-07-12 01:40] bltavares commented on #228
Thanks a lot for the time put on thoughtful replies to the question everyone.

Now with the summarized discussion I think I can better understand what lead me into thinking about multiple currencies on the system, and the difference that was not clear.

Reading the documentation and the blog post, the first comparison I could do was that this was similar to [Splitwise](https://splitwise.com) simpl

[2019-07-12 15:18] realcr commented on #228
@GorbulasDev : The total amount of credits is always 0. The trick is that some people have negative amount of credits, and some have positive amount.
Credits in Offst are created by debt. If I owe you 100 credits, it means that I have +100 credits, and you have -100 credits. When the debt is repaid, the credits are gone. Offst does not rely on a blockchain, therefore no proof of work or mining is

[2019-07-14 02:29] GorbulasDev commented on #228
Interesting. The value of FST would greatly differ based on where it comes from, as there is no 'global' ledger such as in most public cryptocurrencies, where value is measured against its supply. We are still in experimental stages at this point. We must also understand the origins of the movement.

[2019-07-14 07:23] SonOfLilit commented on #228
IANAL, but as far as I know there are three things you might get in legal
trouble for (probably more):

1. offering loans (in any denomination) without a license - applies to USD
and FST

2. selling something the value of which comes mostly from the expectation
that it might increase later ("a security") without a license - applies
only to FST

3. competing with the US dollar without being a count

[2019-07-14 11:16] amosonn commented on #228
@sonoflilit Re 3, I don't think competing with USD is the main point in the Liberty Dollar story. It was mentioned there, but the charges were mostly for counterfeiting - both because it said "Dollar" and "God", and because it had to do with percious metal, which is still a delicate subject. BTC is clearly competing with USD, but I haven't heard of any legal action regarding that.

[2019-07-14 15:12] SonOfLilit commented on #228
FBI felt that "they are terrorists who try to undermine the USD" and threw
the book at them. Basically if FBI wants to throw the book at you they will
find what to charge you with. So you want to not make them feel like you're
trying to compete with the USD.

On Sun, Jul 14, 2019 at 2:16 PM amosonn <notifications@github.com> wrote:

[2019-07-16 13:00] realcr opened #230 "capnp_conv review + cleanup"
## Help required

- [ ] Code review + refactoring suggestions
- [ ] A more extensive test suite, possibly using [Quickcheck](https://github.com/BurntSushi/quickcheck) or [proptest](https://github.com/AltSysrq/proptest). I'm not sure which one to pick.
- [ ] Better error messages
    - [ ] Marking the correct span when an error occurs.
    - [ ] Providing extra information in `unimplemented!()` cal

[2019-07-16 13:02] realcr commented on #230
@pzmarzly : Do you want to take this issue? (Requires some familiarity with procedural macros)

[2019-07-16 13:10] realcr opened #231 "Macro for deriving RandGen for some structs"
The code at https://github.com/freedomlayer/offst/blob/master/components/crypto/src/rand.rs is very repetitive. Example:
[code]

We can create a macro that does this automatically, possibly a macro that that can be used like this:
`derive_rand_gen!(InvoiceId);`

This issue is suitable for beginners with Rust and with the Offst project.

[2019-07-16 13:24] realcr opened #232 "serde_derive not required in 2018 edition"
Some crates in the Offst codebase still use `serde_derive`. This is no longer required, see:
https://www.reddit.com/r/rust/comments/a8ykj8/til_you_dont_need_serde_derive_when_using_the/

We should update all the crates to have `serde = { version = "1.0", features = ["derive"] }` instead in their Cargo.toml.

This issue can be solved by a beginner in Rust. Guidance can be given upon request.

[2019-07-17 10:24] realcr commented on #196
Implemented and merged to master.
Great thanks for everyone helping out with this proposal!

One thing that is still missing is implementation of the hash locks using bcrypt as suggested by @spolou. (Currently implemented as trivial `SHA512/256` hash)

[2019-07-17 10:24] #196 closed

[2019-07-17 10:29] realcr opened #233 "Changing algorithm used for hash locks"
Hash locks are being used in the protocol to allow atomicity of payments. Currently hash locks are implemented using `SHA512/256`.

It might be safer to use a different algorithm, for example bcrypt (As suggested in issue https://github.com/freedomlayer/offst/issues/196). On the other hand, it might degrade performance. I'm not yet sure what is the correct thing to do here.

The implementation can

[2019-07-17 10:31] realcr commented on #222
Closed by PRs:
- https://github.com/freedomlayer/offst/pull/226
- https://github.com/freedomlayer/offst/pull/227

[2019-07-17 10:31] #222 closed

[2019-08-22 08:01] cyrtophora commented on #232
Hi, @realcr I would like to take this one.

[2019-08-22 09:35] cyrtophora commented on #231
@realcr can I take this one?

[2019-08-22 09:58] realcr commented on #231
Of course! Please send a message if you need any help.

[2019-08-22 09:59] realcr commented on #232
@cyrtophora : Thank you for your contribution! If you need any help with this don't hesitate to send a message.

[2019-09-17 15:08] realcr commented on #232
@cy6erlion : Thanks for the help! Closing this issue.

[2019-09-17 15:08] #232 closed

[2019-09-26 08:54] pzmarzly commented on #167
[SystemRandom implements Clone now](https://github.com/briansmith/ring/commit/490f7eeb7fefd0c2874374d751334a02515f732c) but it doesn't help as much as I thought. It would probably be possible to get rid of `arc_rng` (`RngContainer`), and [make a custom trait for it](https://github.com/pzmarzly/offst/commit/3396a9c820471036755d3860d0157201ff84cf5d#diff-0e91ba8f45e15fb085871ddcf8c25df8R10-R20), but

[2019-09-26 09:12] realcr commented on #167
Thanks! I think I'm going to wait a bit with the the cryptography library. Either things get better with ring or we probably change it to something else.

Great to hear! If you ever need a recommendation for your work I will be more than glad to help.

You have a big part in this. Thanks!

[2019-10-10 12:58] realcr opened #241 "Use cargo-audit"
Use `cargo-audit` to make sure Offst does not depend on vulnerable or unmaintained crates.

See:
https://blog.rust-lang.org/inside-rust/2019/10/03/Keeping-secure-with-cargo-audit-0.9.html
For more information.

[2019-10-21 16:33] #228 closed

[2019-11-09 15:09] bltavares commented on #228
I'm happy to have helped with just a question :)
And thank you for taking it in consideration, I'm looking forward the evolution of the project and to follow over the next steps of the experiment (now that I'm back online)

[2019-11-26 17:46] amosonn opened #251 "Update Readme to build on stable"
Now that offst compiles on stable, Readme.md can be changed to reflect that, no?

[2019-11-26 17:55] realcr commented on #251
Agreed!

[2019-12-04 20:07] realcr commented on #251
Solved by https://github.com/freedomlayer/offst/pull/252

[2019-12-04 20:07] #251 closed

[2020-02-11 15:47] realcr opened #266 "bill-splitting feature"
Posted on behalf of [duxovni](https://github.com/duxovni):

Some thought is required on how to make this work:
- Is it possible to implement this safely using the current Offst protocol?
- How should the UI for this feature look like?

[2020-03-06 10:44] realcr opened #271 "Add Android builds to CI"
Offst's `stcompact` binary is designed to work on mobile devices, specifically on Android.

We want to compile it for the following architectures:
- aarch64-linux-android
- armv7-linux-androideabi
- i686-linux-android

More specifically, we want the CI to compile for those architectures during testing, and create a release binary when a new version tag is pushed to this repository.

Currently the

[2020-04-02 12:13] realcr commented on #271
Solved in PR https://github.com/freedomlayer/offset/pull/280

[2020-04-02 12:13] #271 closed

[2020-04-18 23:28] c-nv-s opened #289 "build arm binaries"
if possible please could you also build and support arm6/7 and arm64 binaries in your releases.

[2020-04-19 20:33] realcr commented on #289
Hey @c-nv-s, thanks for opening this issue!
Just to make sure I understand what you mean, you want to add arm6/7 and arm64 targets for Linux?

Currently the following Android targets are built automatically:
- aarch64
- armv7
- i686
(See: https://github.com/freedomlayer/offset/releases)

Do you have a desktop environment that runs on arm6/7 and arm64?

[2020-04-19 22:30] c-nv-s commented on #289
apologies, I can see since 18 days ago this has already begun. Thanks! keep up the good work

[2020-06-06 18:37] c-nv-s commented on #289
Perhaps you could also make  the app available on F-droid
https://f-droid.org/

[2020-06-07 09:50] lladhibhutall commented on #231
@realcr I am very new to Rust, I would like to work on this issue!

[2020-06-07 12:18] amosonn commented on #231
I was going suggest a different approach: a blanket-impl for things implementing the two traits used in the implementation: `Default` and `DerefMut` into `[u8]`. This doesn't work though, because `PrivateKey` needs a separate implementation.

This raises the question however: should `PrivateKey` implement those traits at all? Whereas the other structs here are all valid as any collection of bytes

[2020-06-10 23:24] amosonn commented on #231
Right, the macro that was present for the others and not for `PrivateKey` was defining capnp traits, not serde.

Here are the relevant files:
The definitions of the types: https://github.com/freedomlayer/offset/blob/master/components/proto/src/crypto/mod.rs
The definition of the macro: https://github.com/freedomlayer/offset/blob/master/components/common/src/define_fixed_bytes.rs

Having `PrivateKe

[2020-06-11 16:07] realcr commented on #289
Superseded by https://github.com/freedomlayer/offset_mobile/issues/14
Thanks!

[2020-06-11 16:07] #289 closed

[2020-06-13 17:12] realcr commented on #231
I began porting the cryptographic library away from `ring` at PR https://github.com/freedomlayer/offset/pull/300, this might have some interference with solving this issue. Hope to update soon.

@lladhibhutall : Sorry for all the complications. I actually thought that this is a very simple issue, but it turned out that there are turtles all the way down. I hope to update you when this issue become

[2020-06-18 10:25] realcr commented on #167
Solved by https://github.com/freedomlayer/offset/pull/300

[2020-06-18 10:25] #167 closed

[2020-06-18 10:25] realcr commented on #64
Solved by https://github.com/freedomlayer/offset/pull/300

[2020-06-18 10:25] #64 closed

[2020-06-18 13:26] realcr commented on #241
Done at PR https://github.com/freedomlayer/offset/pull/301

[2020-06-18 13:26] #241 closed

[2020-06-18 13:28] realcr commented on #143
I have recently read this article on mozilla's wiki:
https://wiki.mozilla.org/Performance/Avoid_SQLite_In_Your_Next_Firefox_Feature

Maybe a compressed json file could be better than an sqlite3 database in our case, after all?
@amosonn : You opinion is highly appreciated here!

[2020-06-18 22:34] amosonn commented on #143
What size is the database, what do you store there? Is there some sample, or where is the relevant code?

[2020-06-19 09:01] realcr commented on #143
Ah you are right, some answers are required here.
For normal users, the database will usually be very small (Probably less than a few KBs).
For nodes that behave as very large hubs, the database might get bigger.

Roughly, the database size equals: `O(#friends + #pending_transactions)`

The database code is inside the database component: `components/database`, however, the database mechanism itsel

[2020-06-19 12:24] realcr commented on #231
So PR https://github.com/freedomlayer/offset/pull/300 is done.
After going again over the code I began to better understand what @amosonn was talking about.
The general idea is that it shouldn't be possible to create or modify things like `PublicKey` and `PrivateKey`, except for using the proper ways. For example, `PrivateKey` should only be created using a random generator, and `PublicKey` can be

[2020-06-20 14:51] amosonn commented on #143
The first thing that comes to mind is that a key-value store, something like mongo-db, can already be an improvement over re-writing a json-file. I think the complexity there is reduced in comparison with a relational database, but you still save re-writing everything each time. It's probably reasonable possible to do this and still use serde for encoding the content.

Another thing which is worth

[2020-06-20 14:54] amosonn commented on #231
I'm pretty sure serde doesn't need this DerefMut, and perhaps neither
quickcheck; it's also worth noting, that if you only allow valid data
inside say `PrivateKey`, then it's good that quickcheck will check exactly
that.

On Fri, Jun 19, 2020, 14:24 real <notifications@github.com> wrote:

[2020-06-24 14:41] realcr commented on #143
Thanks! I hoped to avoid anything that requires a database that can not be stored plainly inside a file, to keep things simple. If I use mongo-db, will there be any complications when shipping it inside an android/ios app?
I am also still thinking about this.